[submodule "shadertoy/third_party/glslang"]
	path = shadertoy/third_party/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest
